# socpy
Query the [SOCcer API](https://soccer.nci.nih.gov/soccer/) 
with Python.

## Description
This package provides an interface to query the SOCcer API.
The functionality is vectorized and returns responses in a
structured manner (pandas dataframes).

## Installation
Install from [PyPI](https://pypi.org/) with pip:
```
pip install socpy
```

## Example
This is a basic example of how to use the package:

In [1]:
import socpy

Using the built-in data set we can query the first three jobs and view the results. The first three job postings:

In [2]:
job_desc = socpy.load_jobs()
job_desc.head(3)

,job_id,title,description
0,140906257,deli clerk customer service,polite prompt knowledgeable|preparing order pa...
1,140974158,roll off truck driver class b cdl 3 000 bonus,operate manual automatic control accordance sa...
2,140923731,field engineer 3,perform advanced troubleshooting repair assign...

Now, using socpy to return the top three SOC matches for each:

In [3]:
jobs = socpy.soccer(
    job_title = list(job_desc.loc[0:2, 'title']),
    job_desc = list(job_desc.loc[0:2, 'description']),
    n_results = 3,
    job_id = list(job_desc.loc[0:2, 'job_id'])
)

The `jobs` object has two methods; namely, `jobs.problems` which contains any API requests that encountered issues, and `jobs.valid` which contains the output from all valid API requests. First, we can ensure that no problems were encountered when querying the API:

In [4]:
jobs.problems == None

True

Next, we can view the top three results for each of our three job descriptions.

In [5]:
jobs.valid

,code,label,score,job_id
0,43-4051,Customer Service Representatives,0.202345,140906257
1,35-2021,Food Preparation Workers,0.107131,140906257
2,35-3021,"Combined Food Preparation and Serving Workers,...",0.060109,140906257
3,53-3032,Heavy and Tractor-Trailer Truck Drivers,0.969044,140974158
4,53-3011,"Ambulance Drivers and Attendants, Except Emerg...",0.003048,140974158
5,55-3014,Artillery and Missile Crew Members,0.001014,140974158
6,43-9061,"Office Clerks, General",0.019577,140923731
7,17-2112,Industrial Engineers,0.005500,140923731
8,17-2171,Petroleum Engineers,0.005500,140923731